section.search__results {
    height: 100vh;
    text-align: left;
}

div.results {
    padding-top: 60px;
}

h2.result__title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    margin-bottom: 0%;
    color: #FF9900;
}

span.anime__scraper {
    font-family: 'Poppins';
    color: #FFFFFF !important;
}

div.results__head p.h5 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

div.results__row {
    padding: 60px 0px 30px 0px;
}

div.result__col {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

div.result__col div.head {
    padding-right: 20px;
}

div.result__col div.head img.img-responsive {
    height: 150px;
    width: 150px;
}

div.result__col div.body h4.anime__result__title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

div.result__col div.body p.anime__result__mute {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0.6rem;
    color: #0085FF;
}

div.result__col div.body a.anime__result__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

div.result__meta {
    padding-bottom: 60px;
}

div.result__meta p.h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

@media screen and (max-width: 890px) {
    div.result__col {
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;
    }

    div.result__col div.body h4.anime__result__title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 10px;
    }

    div.result__col div.body p.anime__result__mute {
        font-size: 14px;
        line-height: 20px;
    }

    div.result__col div.body a.anime__result__link {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 489px) {
    div.results__row {
        padding-bottom: 10px;
    }

    h2.result__title {
        font-size: 38px;
    }

    div.results__head p.h5 {
        font-size: 18px;
        line-height: 30px;
    }

    div.result__col {
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;
    }

    div.result__col div.head {
        padding-right: 0px;
    }

    div.result__col div.head img.img-responsive {
        height: 100%;
        width: 100%;
    }

    div.result__col div.body {
        max-width: 100%;
    }

    div.result__col div.body h4.anime__result__title {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    div.result__col div.body p.anime__result__mute {
        font-size: 14px;
        line-height: 20px;
    }

    div.result__col div.body a.anime__result__link {
        font-size: 14px;
        line-height: 24px;
    }

    div.result__meta p.h5 {
        font-size: 16px;
        line-height: 24px;
    }

    div.result__meta {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 320px) {
    h2.result__title {
        font-size: 28px;
    }

    div.result__col div.body p.anime__result__mute {
        font-size: 12px;
        line-height: 20px;
    }

}

@media screen and (max-width: 198px) {

    div.results {
        padding-top: 10px;
    }

    h2.result__title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    div.results__head p.h5 {
        font-size: 14px;
        line-height: 24px;
    }

    div.result__col div.body h4.anime__result__title {
        font-size: 14px;
        line-height: 18px;
    }

    div.result__col div.body p.anime__result__mute {
        font-size: 10px;
        line-height: 20px;
    }

    div.result__col div.body a.anime__result__link {
        font-size: 12px;
        line-height: 24px;
    }

    div.result__meta p.h5 {
        font-size: 14px;
        line-height: 20px;
    }
}