footer.footer__bg {
    background: #000000;
    padding: 30px;
}

p.design__copyright {
    margin-bottom: 0%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

a.design__link {
    color: #FF9900;
}

@media screen and (max-width: 489px) {
    footer.footer__bg {
        padding: 16px;
    }

    p.design__copyright {
        font-size: 16px;
    }
}

@media screen and (max-width: 198px) {
    footer.footer__bg {
        padding: 10px;
    }

    p.design__copyright {
        font-size: 10px;
    }
}