footer.footer__bg {
    background: #000000;
    padding: 30px;
}

p.design__copyright {
    margin-bottom: 0%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

a.design__link {
    color: #FF9900;
    font-weight: 600;
}